@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=VT323&display=swap');

* {
    user-select: none;
    font-family: 'B612 Mono', monospace; 
}

body {
    background-color: #00001c;
    padding: 0;
    margin: 0;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
}

.main-container {
    padding: 10vh;
    display: flex;
    text-align: center;
    height: 100vh;
    width: 60%;
    margin: 0px auto;
}

.box-design {
    background-color: #001A1Baa;
    border: 2pt #00AEEF solid;
    border-radius: 4px;
    box-shadow:
    0 0 20px 1px #00AEEF,
    0 0 20px 1px inset #00AEEF;
}

.profile {
    display: flex;
    width: 95%;
    height: 20%;
    margin-bottom: 5%;
    text-align: left;
}

.profile h1{
    margin-top: 1%;
    color: #80D6DD;
    font-family: 'B612 Mono', monospace;
    width: 10%;
}

.profile p {
    margin: 0;
    color: #fff;
    font-family: 'B612 Mono', monospace;
    width: auto;
}

.pfp {
    display: block;
    border-bottom: #00AEEF solid 3px;
    box-shadow: #00AEEF 0px 4px 3px;
    margin: 2%;
    height: 80%;
    width: auto;
    
}

.socials {
    height: 70%;
    width: 100%;
}

.main-content {
    width: 95%;
    height: 80%;
}

.profile-info {
    padding: 2%;
    width: 100%;
}

.profile-stats {
    padding: 3%;
    width: 20%;
    display: flex;
    flex-direction: row;
    row-gap: 10%;
}

.profile-stats p {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 95%;
    width: fit-content;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
}

.socials {
    color: #fff;
    font-family: 'B612 Mono', monospace;
    font-size: 90%;
}

.socials ul {
    text-align: left;
}

.socials li {
    margin: 10%;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #00AEEF;
}

.main-content h1 {
    color: #fff
}

.main-content p {
    color: #ffffff80;
}

.lastfm {
    height: auto;
    width: 80%;
    display: flex;
    color: #fff;
    margin-top: 10%;  
    flex-direction: column;
    padding: 10%;
}

.lastfm h1 {
    width: 100%;
    height: auto;
    font-size: 70%;
}

.lastfm a {
    width: auto;
}

.lastfm p {
    width: 100%;
    font-size: auto;
}

.webrings {
    margin-top: 10%;
    width: 100%;
}

.webrings p {
    color: #fff;
}
